/*
font-family: 'AvantGardeGothicITCW01B 731063';
font-family: 'AvantGardeGothicITCW01X';
*/

a
{
  -webkit-transition: color .1s;
     -moz-transition: color .1s;
       -o-transition: color .1s;
          transition: color .1s;
}

a:hover
{
  color: #ff1b25;
}

article
{
  margin: 0 auto;
  width: 880px;
}

h1,
h2,
h3,
h4,
h5
{
  font-weight: normal;
}

h2
{
  font-size: 30px;
}

p
{
}

body
{
  background: url(../img/background.png) fixed;
}

nav
{
  background: #fff;
  border: 1px solid #bfbfbf;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 25px;
  width: 600px;
  margin-left: -300px;
  z-index: 10;
}

nav ul
{
}

nav ul li
{
  display: inline;
}

nav ul li a
{
  color: #000;
  font-size: 15px;
  line-height: 2.5;
  padding: 1em;
  text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited
{

}

nav ul li a:hover,
nav ul li a:active,
nav ul li.current a
{

}

nav ul li.current   { } 
nav ul li.current a { }

.intro
{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.intro img
{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -152px;
}

.intro_video
{
  background: #000;
  width: 100%;
}


article.text
{
  padding: 1em 0 2em 0;
}

article.text div
{
  float: left;
  margin-right: 5%;
  width: 65%;
}

article.text div + div
{
  margin-right: 0;
  width: 30%;
}

.lovers div,
.examples div
{
  margin: 0 auto;
  padding: 2em 0;
  width: 880px;
}

.lovers
{
  background: #fc5270;
  background: -moz-linear-gradient(left,  #fc5270 0%, #ff1b25 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fc5270), color-stop(100%,#ff1b25));
  background: -webkit-linear-gradient(left,  #fc5270 0%,#ff1b25 100%);
  background: -o-linear-gradient(left,  #fc5270 0%,#ff1b25 100%);
  background: -ms-linear-gradient(left,  #fc5270 0%,#ff1b25 100%);
  background: linear-gradient(to right,  #fc5270 0%,#ff1b25 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5270', endColorstr='#ff1b25',GradientType=1 );
  padding-bottom: 1.5em;
}

.lovers h2
{
  color: #fff;
  margin-top: 0;
}

.examples
{
  background: rgba(0, 0, 0, .2);
}

.examples img
{
  display: block;
  float: left;
  margin: 0 2em 3em 0;
}

.examples img:nth-child(3n)
{
  margin-right: 0;
}