@import compass
@import compass/reset

$font: 'AvantGardeGothicITCW01X'             // ITC Avant Garde Gothic Extra Light
$font-bold: 'AvantGardeGothicITCW01B 731063' // ITC Avant Garde Gothic Bold

$light: #bfbfbf
$medium: #999
$dark: #333
$red: #ff1b25

$line: 1.5rem

$font-size: 16px
$font-size-small: 12px

@import "mixins"
@import "base"
@import "home"
